PORT=5050
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
STATS_COLLECTION_INTERVAL_MS=5000
DATA_CLEANUP_INTERVAL_MS=300000
DATA_RETENTION_HOURS=24
SOCKET_EMIT_INTERVAL_MS=5000
