MONGODB_URI=mongodb+srv://mannsahil857_db_user:z6EXgvkBKNEvgW4t@cluster0.a6c1c9n.mongodb.net/system-view-api?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-key-change-in-production
DATA_CLEANUP_INTERVAL_MS=300000
DATA_RETENTION_HOURS=24
SOCKET_EMIT_INTERVAL_MS=5000
STATS_COLLECTION_INTERVAL_MS=5000